*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.inp1 {
    margin-top: 20px;
    margin-left: 50px;
}
.menu{
    /* background-color: rgb(98, 98, 235); */
    display: flex;
    flex-direction: column;
    width:200px;
    height: 659px;
    margin-left: 30px;
    
   
}
select.dbselect {
    height: 38px;
    width: 270px;
    margin-left: 30px;
    border: 2px solid ;
    border-color: rgb(65, 123, 231);
    padding-left: 10px;
}

select{
    border: 2px solid ;
    border-color: rgb(65, 123, 231);
    padding-left: 10px;
}

button.btn1 {
    border-radius: 7px;
    background: linear-gradient(45deg, rgb(56, 66, 214), rgb(63, 179, 214));
    color: white;
    font-size: 18px;
    border: 0px;
    font-style: Sans-serif;
}

.btns{
    margin-top: 100px;
    text-align: center;
    line-height: 50px;
}
.btns button{
    width: 200px;
    height: 40px;   

}

h2.createdb {
    text-align: center;
    margin-top: 20px;
}
button.dbbtn {
    margin-left: 209px;
    height: 37px;
    width: 150px;
    background: linear-gradient(45deg, rgb(56, 66, 214), rgb(63, 179, 214));
    border-radius: 20;
    border-radius: 5px;
    border: 0px;
    font-size: 18px;
    color: #fff;
}
  .container{
    display: flex;
  }
  .fields {
    border: 1px solid;
    width: 560px;
    border-radius: 10px;
    /* height: 400px; */
    margin: auto;
    margin-top: 30px;
    border-color: rgb(65, 123, 231);
    background-color: white;
    line-height: 60px;
    margin-left: 130px;
  }
  input.inpname {
    height: 38px;
    width: 270px;
    margin-left: 17px;
    border-radius: 5px;
    outline: 0;
    border: 2px solid ;
    border-color: rgb(65, 123, 231);
    padding-left: 10px;
}

input {
    height: 38px;
    width: 270px;
    margin-left: 35px;
    border-radius: 5px;
    outline: 0;
    border: 2px solid ;
    border-color: rgb(65, 123, 231);
    padding-left: 10px;
}


label.columnnames {
    position: relative;
    bottom: 10px;
}

input.colname {
    height: 38px;
    width: 270px;
    margin-left: 9px;
    border-radius: 5px;
    outline: 0;
    border: 2px solid ;
    border-color: rgb(65, 123, 231);
    padding-left: 10px;
}


select.type {
    height: 38px;
    width: 50px;
    margin-left: 10px;
    margin-top: 0px;
}

button.sumbtn {
    height: 35px;
    width: 150px;
    margin-left: 157px;
    background: linear-gradient(45deg, rgb(56, 66, 214), rgb(63, 179, 214));
    color: #fff;
    border-radius: 5px;
    border: 0px;
}

button.addbtn {
    height: 35px;
    margin-left: 208px;
    background: linear-gradient(45deg, rgb(56, 66, 214), rgb(63, 179, 214));
    color: #fff;
    border-radius: 5px;
    border: 0px;
    width: 150px;
}

span{
    color: rgb(65, 123, 231);
}



.h1{
    margin-left: 421px;
    margin-top: 20px;
}

select#selects {
    height: 40px;
    margin-left: 30px;
}


select#tags {
    height: 40px;
    width: 235px;
    margin-left: 18px;
}



/* button.btn {
    height: 38px;
    width: 179px;
    background-color: lightblue;
    margin-left: 133px;
    margin-top: 31px;
    cursor: pointer;
}
button.btn:hover{
    background-color: rgb(83, 167, 247);
} */



button{
    cursor: pointer;
}
.list{
    display: flex;
}

h2.tableHeading {
    margin-left: 201px;
}